@import 'antd/dist/reset.css';

.sider {
  background: #001529 !important;
}

.sider .ant-menu {
  background: #001529 !important;
}

.sider .ant-menu-item {
  color: rgba(255, 255, 255, 0.65) !important;
}

.sider .ant-menu-item:hover,
.sider .ant-menu-item-selected {
  color: #fff !important;
  background: #1890ff !important;
}

.sider .ant-menu-item .anticon {
  margin-right: 8px !important;
}